{% extends "base.twig" %}

{% block content %}
<div class="col1-layout fleft overFlowed">

        <div class="container">
            
            <div class="col-xs-12 col-md-8">                
                    <h2 class="pageTitle">{{ title }}</h2>
            </div>
            <div class="col-xs-12 col-md-8 col-sm-7">
                  {% include 'components/create-dream-holiday-page-content.twig' %}  
            </div>

           <div class="col-xs-12 col-md-4 col-sm-5 rightBar">
                {% include 'components/single-page-sidebar.twig' %}
            </div>    
        </div>


            
        </div>
        {# {% include 'components/quicklinks.twig' %} #}
        {% include 'components/chooseUs.twig' %}
{% endblock %}
